body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
    background-color: #4caf50;
    background-image: url("https://transparenttextures.com/patterns/food.png");
}

h1, h3 {
    text-align: center;
    text-decoration: underline;
    color: azure;
}

/* home page */
.fav {
    align-self: flex-end;
}

.meal-header {
    text-decoration: none;
    margin-top: 30vh;
    padding-left: 30px;
}

.search {
    width: 70%;
}

.search * {
    font-size: 1.2rem;
}

ul {
    list-style: none;
    padding: 0px;
}

ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
}

ul li:hover{
    background-color: olivedrab;
    border-radius: 5px;
}


ul li *{
    display: inline-block;
    text-decoration: none;
    color: black;
}

ul li button {
    border-radius: 5px;
    box-shadow: 2px 2px 3px grey;
    background-color: #8b4513;
    color: wheat;
    margin: 5px;
}

ul li button:hover{
    background-color: darkslategray;
}

#search-result {
    max-height: 50vh;
    overflow: auto;
}

/* meal details */
.mealImage {
    width: 400px;
    color: brown;
    text-align: center;
    #image {
        width: 100%;
        border: 2px solid gold;
        box-shadow: 4px 3px 4px greenyellow;
    }
}

#description {
    text-align: center;
}

/* favourite meals */
.remove:hover{
    background-color: red;
}